<div class="wrap"><H3>
 From here you can configure your different carousel VIDEO GALLERIES, create new or delete existing ones. Above each gallery is the code to insert in your posts.</H3><br/><a href="http://www.pluginswp.com/ultimate-carousel-video-gallery/">Download ultimate carousel video gallery, plugin extended version</a><br/><a href="http://www.pluginswp.com/sliderpro/">Download SliderPro, image and video</a><br/><a href="http://www.pluginswp.com/">Download SliderPro</a><br/><br/>
	<form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1">
     <input type='submit' name='' value='Create New carousel' />
    </form>
</div>
<hr>
